## Python Object Reference

In [1]:
print(__name__)

__main__

>프로그램의 실행시점

In [2]:
dir()

['Axes3D',
 'In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'mpl',
 'np',
 'pd',
 'plt',
 'quit',
 'sk',
 'sm',
 'sns',
 'sp',
 'warnings']

>`__main__` scope의 객체들 표시

In [3]:
x = {'name': 'kim', 'age': 33, 'city': 'Seoul'}
y = x

In [4]:
id(x), id(y)

(4669895088, 4669895088)

In [5]:
x == y, x is y

(True, True)

In [6]:
x['class'] = 10

x, y

({'name': 'kim', 'age': 33, 'city': 'Seoul', 'class': 10},
 {'name': 'kim', 'age': 33, 'city': 'Seoul', 'class': 10})

In [7]:
z = {'name': 'kim', 'age': 33, 'city': 'Seoul', 'class': 10}

x == z, x is z

(True, False)

x, y는 copy를 통해 서로 같은 id값을 참조하지만, 똑같은 값으로 새로 할당된 z의 경우 값은 같더라도 다른 id값을 참조한다. 즉, 값은 같지만 서로 다른 객체이다.

### Tuple의 경우

In [8]:
tuple1 = (10, 15, [100, 1000])
tuple2 = (10, 15, [100, 1000])

In [9]:
id(tuple1), id(tuple2)

(4685037000, 4684446672)

In [10]:
tuple1 == tuple2, tuple1 is tuple2

(True, False)

In [11]:
tuple1.__eq__(tuple2)  # tuple1 == tuple2

True

tuple은 값이 변하지 않는(immutable) 객체이다.

## Copy, Deepcopy

### Copy

In [18]:
tl1 = [10, [100, 105], (5, 10, 15)]
tl2 = tl1
tl3 = list(tl1)

In [19]:
tl1 == tl2, tl1 is tl2

(True, True)

In [20]:
tl1 == tl3, tl1 is tl3

(True, False)

>list 생성자로 받아서 생성되는 객체는 메모리 값이 새로 참조된 다른 객체이다.

In [21]:
tl1.append(1000)
tl1[1].remove(105)

In [22]:
tl1, tl2, tl3

([10, [100], (5, 10, 15), 1000],
 [10, [100], (5, 10, 15), 1000],
 [10, [100], (5, 10, 15)])

In [23]:
print(id(tl2[2]))

4685128976

In [24]:
tl1[1] += [110, 120]
tl2[2] += (110, 120)  # tuple 재할당 (객체 새로 생성)

tl1, tl2, tl3

([10, [100, 110, 120], (5, 10, 15, 110, 120), 1000],
 [10, [100, 110, 120], (5, 10, 15, 110, 120), 1000],
 [10, [100, 110, 120], (5, 10, 15)])

In [25]:
print(id(tl2[2]))

4684432928

>새로운 tuple 객체가 생성되었다

### Deepcopy

In [39]:
class Basket:
    def __init__(self, products=None):
        if products is None:
            self._products = []
        else:
            self._products = list(products)
    
    def put_prod(self, prod_name):
        self._products.append(prod_name)
        
    def del_prod(self, prod_name):
        self._products.remove(prod_name)

In [40]:
import copy

In [41]:
basket1 = Basket(['Apple', 'Bag', 'TV', 'Snack', 'Water'])
basket2 = copy.copy(basket1)
basket3 = copy.deepcopy(basket1)

In [42]:
id(basket1), id(basket2), id(basket3)

(4690805368, 4690807888, 4690807384)

>객체를 복사할 때는 평범한 copy도 새로운 객체가 생성된다.

In [43]:
id(basket1._products), id(basket2._products), id(basket3._products)

(4685053576, 4685053576, 4690483784)

>하지만 객체 내부의 mutable한 속성 list는 deepcopy를 해야만 새로운 객체로 생성된다.

반드시 deepcopy가 맞다고 볼 수는 없다. 경우에 따라서 맞는 copy를 하도록하자.

In [45]:
basket1.put_prod('Orange')
basket2.del_prod('Snack')

In [46]:
basket1._products, basket2._products, basket3._products

(['Apple', 'Bag', 'TV', 'Water', 'Orange'],
 ['Apple', 'Bag', 'TV', 'Water', 'Orange'],
 ['Apple', 'Bag', 'TV', 'Snack', 'Water'])

>얕은 복사가 된 basket1, basket2는 서로 영향을 받는다.

## 함수 매개변수 전달 사용법

In [60]:
def mul(x, y):
    x += y
    return x

In [61]:
x, y = 10, 5

mul(x, y), x, y

(15, 10, 5)

In [62]:
a = [10, 100]
b = [5, 10]

mul(a, b)  # list extend

[10, 100, 5, 10]

In [63]:
a, b

([10, 100, 5, 10], [5, 10])

>mutable한 list a값이 변해버렸다. 이러한 가변형 데이터는 늘 취급에 주의해야한다.

In [64]:
c = 10, 100
d = 5, 10

mul(c, d), c, d

((10, 100, 5, 10), (10, 100), (5, 10))

>immutable한 tuple은 새로운 객체로 생성되니 안심해도된다.

### 파이썬 immutable type 예외
- str, bytes, frozenset, tuple: copy본 생성 X -> 참조 반환

In [66]:
tt1 = 1, 2, 3, 4, 5
tt2 = tuple(tt1)
tt3 = tt1[:]

id(tt1), id(tt2), id(tt3)

(4689424544, 4689424544, 4689424544)

>값의 변화가 없는 tuple 생성자 사용 방식, 전체값 슬라이싱은 효율성을 위해 새로운 객체를 생성하지 않고 참조를 반환한다.

In [94]:
tt4 = 100, 200, 30
tt5 = 100, 200, 30

tt4 == tt5, tt4 is tt5, id(tt4), id(tt5)

(True, False, 4690090096, 4689692568)

In [95]:
ss1 = 'Apple'
ss2 = 'Apple'

ss1 == ss2, ss1 is ss2, id(ss1), id(ss2)

(True, True, 4689027904, 4689027904)